@media print {
}

.DCObject {
    float: left;
    margin-right: 10px;
}

.rowWrapper {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

#reset {
    color: #525252;
    cursor: pointer;
    text-align: right;
    position: relative;
    top: 10px;
}

/* ************** MAP ************** */
#map-chart {
    /*width: 0%;*/
}

g.asia path {
    fill: #ffbb78;
    stroke: #ffbb78;
}

g.africa path {
    fill: #f4d362;
    stroke: #f4d362;
}

g.europe path {
    fill: #f4e8c3;
    stroke: #f4e8c3;
}

g.north_america path {
    fill: #97cc31;
    stroke: #97cc31;
}

g.south_america path {
    fill: #cc9866;
    stroke: #cc9866;
}

g.antarctica path {
    fill: #d3ecfc;
    stroke: #d3ecfc;
}

g.oceania path {
    fill: #aec7e8;
    stroke: #aec7e8;
}

.dc-chart .selected path {
    fill-opacity: 1;
    stroke: none !important;
    stroke-width: 0;
}

/* ************** D3-TIP ************** */
.d3-tip {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    border-radius: 8px 8px 8px 8px;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 1;
    padding: 12px;
}

.d3-tip:after {
    color: rgba(0, 0, 0, 0.8);
    content: "▼";
    display: inline;
    font-size: 10px;
    line-height: 1;
    position: absolute;
    text-align: center;
    width: 100%;
}

.d3-tip.n:after {
    left: 0;
    margin: -1px 0 0;
    top: 100%;
}

.d3-tipTitle {
    color: #FF7F0E;
}

/* ************** NPP ************** */
#npp-chart .x.axis text, #hr-chart .x.axis text {
    font: 12px "Futura", sans-serif;
    text-anchor: end;
}

#npp-chart .axis text, #hr-chart .axis text {
    fill: #525252;
}

#npp-chart .grid-line line, #hr-chart .grid-line line {
    fill: none;
    opacity: 0.5;
    shape-rendering: crispedges;
    stroke: #CCCCCC;
}

#npp-chart .axis path, #hr-chart .axis path, .axis line {
    fill: none;
    shape-rendering: crispedges;
    stroke: #DDDDDD;
}

/* ************** DATA TABLE ************** */
.dc-data-table {
    fill: #525252;
    font: 12px "Futura", sans-serif;
}

.dc-data-table th {
    fill: #525252;
    font: 14px "Futura", sans-serif;
    text-align: right;
}

.dc-table-column {
    text-align: right !important;
}

.dc-chart g.row text {
    cursor: pointer;
    fill: #525252;
    font: 12px "Futura", sans-serif;
}

.dc-chart .axis path, .axis line {
    fill: none;
    shape-rendering: crispedges;
    stroke: #DDDDDD;
}

.dc-chart .axis text {
    fill: #525252;
    font: 12px "Futura", sans-serif;
}

.dc-data-count, .dc-data-table {
    margin-left: 20px;
}

/* ************** PIE ************** */
.dc-chart .pie-slice {
    cursor: pointer;
    fill: #525252;
    font-size: 12px;
}

#function-pie-chart {
    left: 17px;
    position: relative;
    top: -41px;
}

.functionsPie {
    margin-left: 100px;
}

/* ************** DATA ROW ************** */
.functionsRow {
    float: right;
}