@media print {
}

/* To see bootstrap col */
/*[class*="col"] { background: #EEF; }*/
/*[class*="col"] [class*="col"] { background: #FEE; }*/

/* Graph : "Futura", sans-serif; */
/* Other : "Lato", Arial; */

body {
    font: 13px "Lato", Arial;
}

#sourceWrapper #pageWrapper {
    color: #2C3537;
    width: 100%;
    height: 100%;
}

#pageWrapper {
    float: left;
}

#sourceWrapper .titleDiv {
    margin: 19px 0 0 220px;
}

#sourceWrapper .title {
    color: #2C3537;
    font-size: 36px;
    text-shadow: 2px 2px 2px #CCCCCC;
    margin: auto;
    width: 900px;
}

#sourceWrapper .bigTitle {
    font-weight: bold;
}

#hiddenDiv {
    display: none;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    top: 0;
    filter: alpha(opacity = 70);
}

#leftCol {
    float: left;
    width: 48%;
}

#rightCol {
    float: right;
    margin-right: 10px;
    width: 48%;
}

.basicCell {
    float: left;
    margin-bottom: 40px;
}

/*.basicCell, .bottomBasicCell {*/
/*border: 1px solid red;*/
/*}*/

/*#mapChart, #regionBarChart, #fluxBarChartForMainFlux, #fluxBarChartForSeparatedFlux, #mapster_wrap_0 {*/
/*border: 1px solid blue;*/
/*}*/

/* ************** LEFT TOOLS ************** */
.leftTools {
    border: 2px solid #2C3537 !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    margin: 10px 0 20px;
    float: left;
    width: 255px;
    font: 11px "Lato", Arial;
    color: #333333;
}

.leftTools div {
    width: 37px;
    margin: 0 7px 1px 0;
    cursor: pointer;
    padding: 0;
    float: left;

}

.leftToolsExportMenu {
    min-width: 80px;
}

#reset {
    margin: 3px 6px 0 11px;
}

#export {
    margin-top: 4px;
}

#help {
    margin-top: 1px;
}

#help div {
    margin-top: 6px;
}

#data {
    margin: 1px 4px 0 0;
}

#uncertaintyDiv {
    margin: 1px 0 0 0;
    width: 55px;
}

#uncertaintyText {
    text-align: center;
    width: 55px;
}

/* ************** BUTTONS ************** */
.toolButton {
    float: left;
    cursor: pointer;
}

#resetMap {
    color: #0088CC;
    text-decoration: none;
    cursor: pointer;
    float: right;
}

#regionActive {
    display: none;
}

#regionActive, #regionUnActive, #globeActive {
    position: absolute;
    margin-top: 10px;
}

#regionSelectComment {
    color: #333333;
    font: 11px "Lato", Arial;
    margin: 47px 0 0 -4px;
    position: absolute;
    text-align: center;
    width: 43px;
}

#resetFlux {
    float: right;
    color: #0088CC;
    text-decoration: none;
    cursor: pointer;
}

#synthesis {
    position: absolute;
    margin-left: 30px;
}

#synthesis img {
    margin: 1px 4px 0 22px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#synthesisComment {
    color: #333333;
    font: 11px "Lato", Arial;
    margin: 3px 0 0 -32px;
    position: absolute;
    text-align: center;
    width: 132px;
}

/* ************** Texts ************** */
.comment {
    color: #525252;
    float: left;
}

/* ************** DC Object ************** */
.dc-chart .selected path {
    fill-opacity: 1;
    stroke: none !important;
    stroke-width: 0;
}

.dc-chart .axis path, .axis line {
    fill: none;
    shape-rendering: crispedges;
    stroke: #DDDDDD;
}

/* DO NOT CHANGE !! STYLE USE IN "getTextWidth" */
.dc-chart .axis text {
    fill: #525252;
    font: 12px "Futura", sans-serif;
}

.dc-chart .legend text {
    fill: #525252;
    font: 12px "Futura", sans-serif;
}

.y.axis path, .x.axis path {
    fill: none;
    stroke: grey;
    shape-rendering: crispEdges;
}

.y.axis line {
    fill: none;
    shape-rendering: crispedges;
    stroke: #000000;
    stroke-opacity: 0.2;
}

.y.axis line.zero {
    stroke-opacity: 0.5;
}

.grid-line.horizontal line.zero {
    stroke: #2C3537;
    stroke-opacity: 1;
}

.grid-line.horizontal line {
    opacity: 1;
    stroke: #000000;
    stroke-opacity: 0.3;
}

/* ************** FUNCTION BARCHART ************** */
#fluxBarChartForMainFlux {
    width: 70%;
}

#fluxBarChartForSeparatedFlux {
    width: 28%;
    margin-left: 2%;
}

/* To allow click or mouseover on axis text */
#fluxBarChart g.axis text {
    pointer-events: auto;
}

#fluxBarChartUnit {
    fill: #525252;
    font: 10px "Futura", sans-serif;
    margin-top: -10px;
    float: left;
}

#fluxBarChartTitle {
    color: #525252;
    float: left;
    font: 12px "Futura", sans-serif;
    margin: -10px 0 0 20%;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 60%;
}

#fluxBarChart.uncertainty g.stack.layer1 .bar {
    fill: #444444;
}

/* ************** REGION BARCHART ************** */
#regionBarChart .legend rect, #regionBarChart .groupedBar rect {
    cursor: pointer;
}

/* ************** MAP ************** */
#mapChart {
    padding: 0 !important;
}

#mapChartAndComment {
    float: left;
}

.countryWithPointer g.country {
    cursor: pointer;
}

g.north_america path {
    fill: #97cc31;
    stroke: #97cc31;
}

g.south_america path {
    fill: #d4eaa6;
    stroke: #d4eaa6;
}

g.africa path {
    fill: #cc9866;
    stroke: #cc9866;
}

g.europe path {
    fill: #d3ecfc;
    stroke: #d3ecfc;
}

.russia path {
    fill: #aec7e8;
    stroke: #aec7e8;
}

g.south_asia path {
    fill: #fd8d3c;
    stroke: #fd8d3c;
}

g.southeast_asia path {
    fill: #f4d362;
    stroke: #f4d362;
}

g.east_asia path {
    fill: #ffbb78;
    stroke: #ffbb78;
}

g.australia path {
    fill: #73a9dc;
    stroke: #73a9dc;
}

g.no_data_for_this_region path {
    fill: #f4e8c3;
    stroke: #f4e8c3;
    cursor: auto;
}

/* ************** FLUX IMG ************** */
#dynamicAreasForImageFlux {
    position: relative;
}

#dynamicAreasForImageFlux .dynamicArea {
    position: absolute;
    cursor: pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin-left: 0;
    border: 2px dashed #DDDDDD;
}

#dynamicAreasForImageFlux .dynamicArea.selected {
    border: 2px double #DDDDDD;
}

#dynamicAreasForImageFlux #SCE.selected {
    border: 1px ridge #f5f5f5;
}

/* ************** DATA & SYNTHESIS STYLE ************** */
.dataTitle, .synthesisTitle {
    color: #09C5CE;
    font-size: 26px;
    font-weight: bold;
    float: left;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

#dataTitle, #synthesisTitle {
    transform: scale(2, 4); /* W3C */
    -webkit-transform: scale(2, 4); /* Safari and Chrome */
    -moz-transform: scale(2, 4); /* Firefox */
    -ms-transform: scale(2, 4); /* IE 9 */
    -o-transform: scale(2, 4); /* Opera */
    white-space: nowrap;
}

.exportButton.btn-link, .exportButton.btn-link:hover, .exportButton.btn-link:focus {
    background-color: #09C5CE;
    border: 2px solid #09C5CE;
    padding: 5px 3px 5px 5px;
    border: 2px solid #09C5CE;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.exportButton {
    float: left;
}

.exportMenu {
    float: left;
    background-color: #09C5CE;
    position: relative;
    margin-top: -1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    min-width: 100px;
}

/* ************** DATA TABLE ************** */
#dataDiv {
    position: absolute;
    background: none repeat scroll 0 0 #FFFFFF;
    width: 50%;
    padding-right: 37px;
    display: none;
    top: 0;
    left: 25%;
    opacity: 0.9;
    min-height: 100%;
}

.dataTitleAndExport {
    position: absolute;
    margin: 250px 0 0 -150px;
}

.dataTitle {
    margin-top: 150px;
}

#exportData {
    float: left;
    cursor: pointer;
    margin: -150px 0 0 -140px;
}

.dataTableDiv {
    margin: 0 5px;
}

.dc-data-table {
    fill: #525252;
    font: 12px "Futura", sans-serif;
}

.dc-data-table th {
    fill: #525252;
    font: 14px "Futura", sans-serif;
    text-align: right;
}

.dc-table-column {
    text-align: right !important;
}

.dc-data-count, .dc-data-table {
    margin-left: 20px;
    float: none !important;
}

/* ************** SYNTHESIS ************** */
.synthesisDiv {
    width: 100%;
    display: none;
    position: absolute;
    top: 0;
}

#synthesisDiv {
    margin: 40px auto;
    width: 900px;
}

.synthesisTitleAndExport {
    position: absolute;
    z-index: 1;
}

.synthesisTitle {
    margin: 265px 0 0 -88px;
}

#exportSynthesis {
    float: left;
    cursor: pointer;
    margin: 62px 0 0 -90px;
}

.imageFluxForSynthesis {
    margin: auto;
    background-color: #FFFFFF;
    height: 483px;
    width: 911px;
    padding: 20px 0 10px 9px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#imageFluxForSynthesisTitle {
    text-align: center;
    font: 18px "Lato", Arial;
    color: #525252;
    font-weight: bold;
    z-index: 10;
    position: absolute;
    width: 891px;
}

#dynamicAreasForImageFluxForSynthesis {
    position: absolute;
    top: 66px;
    margin-left: 11px;
}

#dynamicAreasForImageFluxForSynthesis .dynamicArea {
    font-weight: bold;
    position: absolute;
    font-size: 14px;
}

.redSynthesisText {
    color: #ea3f40;
}

/* ************** D3-TIP ************** */
.d3-tip {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    border-radius: 8px 8px 8px 8px;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 1;
    padding: 12px;
}

.d3-tip:after {
    color: rgba(0, 0, 0, 0.8);
    content: "▼";
    display: inline;
    font-size: 10px;
    line-height: 1;
    position: absolute;
    text-align: center;
    width: 100%;
}

.d3-tip.n:after {
    left: 0;
    margin: -1px 0 0;
    top: 100%;
}

.d3-tipTitle {
    color: #FF7F0E;
}

/* ************** MENU-TIP ************** */
.tooltip-inner {
    padding: 12px;
    color: #09C5CE;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    display: block;
    font-size: 13px;
}

.tooltip.right .tooltip-arrow {
    border-right-color: rgba(0, 0, 0, 0.6);
}

/*overflow: hidden;*/
/*text-overflow: ellipsis;*/
/*white-space: nowrap;*/

/* ************************************ */
/* ************** EXPORT ************** */
/* ************************************ */
#exportDiv {
    position: absolute;
    top: 0;
}

#exportDiv #containerCharts #mapChartAndComment {
    margin: auto !important;
    float: none !important;
}

#exportDiv .titleDiv {
    margin-left: 0;
    width: 100% !important;
}

#exportDiv .title {
    margin: 13px auto -10px;
}

#exportDiv #containerCharts {
    margin-top: -20px;
}

#exportDiv #dynamicAreasForImageFlux .dynamicArea {
    border: none !important;
}

#exportDiv #dynamicAreasForImageFlux .dynamicArea.selected {
    border: 1px double #DDDDDD !important;
}

#exportDiv .exportLogo {
    position: absolute;
    top: 0;
    right: 20px;
}

