@media print {
}

/*[class*="col"] { background: #EEF; }*/
/*[class*="col"] [class*="col"] { background: #FEE; }*/

body {
    font-family: "Lato", Arial;
}

#pageWrapper {
    color: #2C3537;
    font-size: 13px; /*padding: 0 10px;*/
    /*position: absolute;*/
    width: 100%;
    height: 100%;
}

.title {
    color: #2C3537;
    font-size: 36px;
    text-shadow: 2px 2px 2px #CCCCCC;
    margin: -63px auto 0;
    width: 900px;
    padding-left: 28px;
}

.bigTitle {
    font-weight: bold;
}

h3 {
    color: #09C5CE;
    text-align: center;
}

#hiddenDiv {
    display: none;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    top: 0;
    filter: alpha(opacity = 70);
}

.comment {
    color: #525252;
}

/* ************** TOOLS ************** */
.leftTools {
    border: 2px solid #2C3537 !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    margin: 16px 0;
    float: left;
    width: 140px;
}

.rightTools {
    float: right;
    width: 94px;
    margin: 12px 0;
}

.leftTools img, .rightTools img {
    cursor: pointer;
}

.toolButton {
    float: left;
}

#reset {
    margin: 1px 0 0 -6px;
}

#regionActive {
    display: none;
}

#regionActive, #regionUnActive {
    position: absolute;
    top: 20px;
    left: 112px;
}

#data, #synthesis img {
    margin: 6px 6px 6px;
}

#synthesis img {
    /*margin-top: 12px;*/
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#export {
    margin: 7px 0 0 -6px;
}

#help {
    margin: 4px 0 0 2px;
}

/* ************** DC Object ************** */
.dc-chart g.row text {
    fill: #2C3537;
}

/* ************** MAP ************** */
.mapAndFunction {
    width: 80%;
}

#map-chart {
    margin-top: 30px;
}

g.country {
    cursor: pointer;
}

g.asia path {
    fill: #ffbb78;
    stroke: #ffbb78;
}

g.africa path {
    fill: #f4d362;
    stroke: #f4d362;
}

g.europe path {
    fill: #f4e8c3;
    stroke: #f4e8c3;
}

g.north_america path {
    fill: #97cc31;
    stroke: #97cc31;
}

g.south_america path {
    fill: #cc9866;
    stroke: #cc9866;
}

g.antarctica path {
    fill: #d3ecfc;
    stroke: #d3ecfc;
}

g.oceania path {
    fill: #aec7e8;
    stroke: #aec7e8;
}

.dc-chart .selected path {
    fill-opacity: 1;
    stroke: none !important;
    stroke-width: 0;
}


/* ************** FLUX IMG ************** */
.imageFluxDiv {
    margin-bottom: 15px;
}

.imageFluxDiv .mapster_el {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#dynamicAreasForImageFlux .dynamicArea {
    position: absolute;
    cursor: pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin-left: 0;
}

#dynamicAreasForImageFlux .dynamicArea.selected {
    border: 1px dashed #c7c7c7;
}

.imageFluxTitle {
    color: #2C3537;
    font-weight: bold;
    font-size: 22px;
    text-shadow: 2px 2px 2px #999999;
    position: absolute;
    top: 55px;
    left: 39px;
}

/* ************** DATA & SYNTHESIS STYLE ************** */
.dataTitle, .synthesisTitle {
    color: #09C5CE;
    font-size: 26px;
    font-weight: bold;
    float: left;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

#dataTitle, #synthesisTitle {
    transform: scale(2, 4); /* W3C */
    -webkit-transform: scale(2, 4); /* Safari and Chrome */
    -moz-transform: scale(2, 4); /* Firefox */
    -ms-transform: scale(2, 4); /* IE 9 */
    -o-transform: scale(2, 4); /* Opera */
    white-space: nowrap;
}

.exportButton.btn-link, .exportButton.btn-link:hover, .exportButton.btn-link:focus {
    background-color: #09C5CE;
    border: 2px solid #09C5CE;
    padding: 5px 3px 5px 5px;
    border: 2px solid #09C5CE;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.exportButton {
    float: left;
}

.exportMenu {
    float: left;
    background-color: #09C5CE;
    position: relative;
    margin-top: -1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    min-width: 100px;
}

/* ************** DATA TABLE ************** */
#dataDiv {
    position: absolute;
    background: none repeat scroll 0 0 #FFFFFF;
    width: 50%;
    padding-right: 37px;
    display: none;
    top: 0;
    left: 25%;
    opacity: 0.9;
    min-height: 100%;
}

.dataTitleAndExport {
    position: absolute;
    margin: 250px 0 0 -150px;
}

.dataTitle {
    margin-top: 150px;
}

#exportData {
    float: left;
    cursor: pointer;
    margin: -150px 0 0 -140px;
}

.dataTableDiv {
    margin: 0 5px;
}

.dc-data-table {
    fill: #525252;
    font: 12px "Futura", sans-serif;
}

.dc-data-table th {
    fill: #525252;
    font: 14px "Futura", sans-serif;
    text-align: right;
}

.dc-table-column {
    text-align: right !important;
}

/*.dc-chart g.row text {*/
/*cursor: pointer;*/
/*fill: #525252;*/
/*font: 12px "Futura", sans-serif;*/
/*}*/

foreignObject {
    background-color: blue;
}
.rowChartText {
    cursor: pointer;
    color: #525252;
    font: 12px "Futura", sans-serif;
}

.dc-chart .axis path, .axis line {
    fill: none;
    shape-rendering: crispedges;
    stroke: #DDDDDD;
}

.dc-chart .axis text {
    fill: #525252;
    font: 12px "Futura", sans-serif;
}

.dc-data-count, .dc-data-table {
    margin-left: 20px;
}

/* ************** SYNTHESIS ************** */
.synthesisDiv {
    width: 100%;
    display: none;
    position: absolute;
    top: 0;
}

#synthesisDiv {
    margin: 20px auto;
    width: 1050px;
}

.synthesisTitleAndExport {
    position: absolute;
    z-index: 1;
}

.synthesisTitle {
    margin: 270px 0 0 -102px;
}

#exportSynthesis {
    float: left;
    cursor: pointer;
    margin: 70px 0 0 -90px;
}

#imageFluxForSynthesis {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin-top: 20px;
}

#dynamicAreasForImageFluxForSynthesis {
    border: 2px solid red;
    position: absolute;
    top: 20px;
}

#dynamicAreasForImageFluxForSynthesis .dynamicArea {
    font-weight: bold;
    position: absolute;
}

.redSynthesisText {
    color: #ea3f40;
}

/* ************** BAR-CHART ************** */
#bar-chart .dc-chart {
    margin: 15px 60px;
}

#bar-chart .legend rect{
    cursor: pointer;
}

.y.axis path, .x.axis path {
    fill: none;
    stroke: grey;
    shape-rendering: crispEdges;
}

.y.axis line {
    fill: none;
    shape-rendering: crispedges;
    stroke: #000000;
    stroke-opacity: 0.1;
}

.y.axis line.zero {
    stroke-opacity: 0.5;
}

.y.axis text, .x.axis text {
    fill: #555555;
}

/* ************** NPP ************** */
/*#npp-chart .x.axis text, #hr-chart .x.axis text {*/
/*font: 12px "Futura", sans-serif;*/
/*text-anchor: end;*/
/*}*/

/*#npp-chart .axis text, #hr-chart .axis text {*/
/*fill: #525252;*/
/*}*/

/*#npp-chart .grid-line line, #hr-chart .grid-line line {*/
/*fill: none;*/
/*opacity: 0.5;*/
/*shape-rendering: crispedges;*/
/*stroke: #CCCCCC;*/
/*}*/

/*#npp-chart .axis path, #hr-chart .axis path, .axis line {*/
/*fill: none;*/
/*shape-rendering: crispedges;*/
/*stroke: #DDDDDD;*/
/*}*/

/* ************** PIE ************** */
/*.dc-chart .pie-slice {*/
/*cursor: pointer;*/
/*fill: #525252;*/
/*font-size: 12px;*/
/*}*/

/*#function-pie-chart {*/
/*left: 17px;*/
/*position: relative;*/
/*top: -41px;*/
/*}*/

/*.functionsPie {*/
/*margin-left: 100px;*/
/*}*/

/* ************** DATA ROW ************** */
/*.functionsRow {*/
/*float: right;*/
/*}*/

/* ************** BAR ************** */
/*.smallBar {*/
/*min-height: 280px;*/
/*margin-left: 70px;*/
/*}*/

/* ************** D3-TIP ************** */
.d3-tip {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    border-radius: 8px 8px 8px 8px;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 1;
    padding: 12px;
}

.d3-tip:after {
    color: rgba(0, 0, 0, 0.8);
    content: "▼";
    display: inline;
    font-size: 10px;
    line-height: 1;
    position: absolute;
    text-align: center;
    width: 100%;
}

.d3-tip.n:after {
    left: 0;
    margin: -1px 0 0;
    top: 100%;
}

.d3-tipTitle {
    color: #FF7F0E;
}

/* ************** MENU-TIP ************** */
.tooltip-inner {
    padding: 12px;
    color: #09C5CE;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    display: block;
    font-size: 13px;
}

.tooltip.right .tooltip-arrow {
    border-right-color: rgba(0, 0, 0, 0.6);
}


/*overflow: hidden;*/
/*text-overflow: ellipsis;*/
/*white-space: nowrap;*/
