@media print {
}

body{
    color: white;
}

.menu{
    background-color: #2C3537;
    text-align: center;
    height: 50px;
}

h1{
    color:white;
    line-height: 20px;
}

h3{
    color: blue;
}

#trash {
    float: right;
}

#trash img{
    background-color: white;
    height: 50px;
}